<h2>Kitchen Rules/Procedure:</h2>
<ol>
<li>After filling out this form, one of the kitchen coordiantors will contact you and arrange to give you the key in return for a $20 deposit.</li>
<li>Once you have the key, use the kitchen. When done, be sure to clean the kitchen. This involves wiping down all surfaces, taking out the trash, making sure all dishes are put away, rinsing out the sink, and making sure all leftover food is appropriately labelled in the fridge.</li>
<li>With regard to food: All food left in the kitchen is up for grabs by anyone. It will also be thrown out if it goes bad.</li>
<li>Once you've cleaned the kitchen, arrange a time with the coordinator to return the key after they've checked it for cleanliness. If all is well, you'll get your deposit back.</li>
<li>Again, <strong>be sure the kitchen is clean</strong>. It needs to be objectively clean, not just as clean as you found it.</li>
<li>Failure to return the key in a timely manner, an unclean kicthen, or missing cooking materials are all grounds for forfeiture of your deposit and/or imposition of fines.</li>
</ol>
<p> If you agree to these rules, feel free to make a reservation </p>
<% form_for @reservation do |f| %>
  <%= f.error_messages %>
  <h5>Sorry about the 24 hr time, I'll fix it eventually!</h5>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start_at %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end_at %>
  </p>
  <% if @current_user.admin %>
    <%= f.label :Manager %><br />
    <%= f.collection_select(:manager_id, User.admins, :id, :first_name) %>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>
